.animatingTitleWrapper {
  line-height: 1.5em;
}

.animatingTitle {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  color: rgb(0, 75, 50);
  white-space: nowrap;
  word-break: break-all;
}

@media screen and (min-width: 800px) {
  .animatingTitleWrapper {
    max-height: 1.5em;
  }
  .animatingTitle {
    max-height: 1.5em;
    vertical-align: bottom;
    display: inline-block;
  }
}
