.note {
  display: none;
}

@media only screen and (min-width: 1100px) {
  .heroWrapper {
    position: relative;
  }

  .note {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .heroWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    background-image: url("/img/bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 0;
    pointer-events: none;
    mix-blend-mode: multiply;
  }

  .heroContainer {
    z-index: 1;
  }
}
