.note {
  display: none;
}

@media only screen and (min-width: 1100px) {
  .heroWrapper {
    position: relative;
  }

  .note {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8rem;
  }

  .heroWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    background-image: url("/img/bg.png"),
      linear-gradient(to top, rgba(0, 0, 0, 0.7) 10%, transparent);
    background-repeat: no-repeat;
    background-position: 0 50px;
    background-size: cover;
    z-index: 0;
    pointer-events: none;
    transition: all 0.3s linear;
  }

  .heroWrapper:hover::before {
    filter: blur(3px);
  }

  .heroContainer {
    z-index: 1;
  }
}
