.note {
  display: none;
}

.heroWrapper,
.heroContainer {
  padding: 0;
}
.subscribeButton {
  border-radius: 23px !important;
  background: #24b091 !important;
  box-shadow: -2px 2px 6px #209b80, 2px -2px 6px #28c5a2 !important;
}

.subscribeButton:active,
.subscribeButton:focus {
  border-radius: 23px !important;
  background: #24b091 !important;
  box-shadow: inset 5px 5px 10px #1d8f75, inset -5px -5px 10px #2bd1ad !important;
}

@media only screen and (min-width: 1100px) {
  .heroWrapper {
    position: relative;
  }

  .note {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8rem;
  }

  .heroWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    background-image: url("/img/bg.png"),
      linear-gradient(to top, rgba(0, 0, 0, 0.7) 10%, transparent);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    z-index: 0;
    pointer-events: none;
    transition: all 0.3s linear;
    filter: blur(2px);
  }

  html[data-theme="light"] .heroWrapper::before {
    background-image: url("/img/bg.png"),
      linear-gradient(to top, rgba(0, 0, 0, 0.2) 10%, transparent);
  }

  .heroWrapper:hover::before {
    filter: blur(3px);
  }

  .heroContainer {
    z-index: 1;
    margin-bottom: 20px;
  }
  .heroContainer > p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px hsl(0deg 0% 0% / 10%);
    max-width: 70%;
    margin: 0 auto;
  }
}
