.u,
.i {
  display: block;
  position: relative;
  z-index: -10; }
  .u > div,
  .i > div {
    position: absolute;
    border-style: solid;
    border-width: 25px;
    opacity: 0; }
  .u .two,
  .i .two {
    border-color: #26bdcf #26bdcf transparent transparent !important;
    animation: open-right 300ms forwards;
    transform-origin: 100% 0; }
  .u .uShadow,
  .i .uShadow {
    position: absolute;
    border-color: #333 #333 transparent transparent !important;
    right: 0;
    border-width: 50px 0 0 7.1428571429px;
    animation: blur-in 600ms forwards; }
  .u .one,
  .i .one {
    border-color: #26bdcf transparent transparent #26bdcf !important;
    animation: open-left 300ms forwards;
    transform-origin: 0 0; }

.u {
  left: calc(50% - 60px);
  width: 50px;
  height: 50px;
  background: #26bdcf; }

.i {
  top: -50px;
  left: calc(50% + 60px);
  width: 50px;
  height: 50px;
  background: transparent; }
  .i > .ii {
    position: absolute;
    border-style: solid;
    border-width: 25px;
    border-color: #26bdcf transparent transparent #26bdcf !important;
    left: 0;
    bottom: 0;
    opacity: 1; }
  .i > div {
    left: 0; }

.l0Shadow {
  border-color: #333 #333 transparent transparent !important;
  border-width: 0 50px 7.1428571429px 0 !important;
  left: -100%;
  animation: fold-up 1s forwards;
  transform-origin: 0 0;
  animation-delay: 300ms;
  top: 0%; }

.ir0Shadow {
  border-width: 7.1428571429px 0px 0px 50px !important;
  border-color: transparent transparent transparent #333 !important;
  left: -100%;
  animation: blur-in 1s forwards;
  transform-origin: 0 0;
  animation-delay: 300ms;
  top: calc(0% - 7.1428571429px);
  opacity: 0.5 !important; }

.l0 {
  border-color: #26bdcf #26bdcf transparent transparent !important;
  left: -100%;
  animation: fold-up 1s forwards;
  transform-origin: 0 0;
  animation-delay: 300ms;
  top: 0%; }

.r0 {
  border-color: #26bdcf transparent transparent #26bdcf !important;
  left: 100%;
  top: 0%;
  animation: fold-up 1s forwards;
  animation-delay: 300ms;
  transform-origin: 0 0; }

.l1 {
  border-color: transparent #26bdcf #26bdcf transparent !important;
  left: -100%;
  top: -100%;
  animation: fold-diagonally-left 1s forwards;
  animation-delay: 600ms; }

.r1 {
  border-color: transparent transparent #26bdcf #26bdcf !important;
  left: 100%;
  top: -100%;
  animation: fold-diagonally-right 1s forwards;
  animation-delay: 600ms;
  transform-origin: 0 0; }

.l2 {
  border-color: #26bdcf transparent transparent #26bdcf !important;
  left: -100%;
  top: -100%;
  animation: fold-up 1s forwards;
  transform-origin: 0 0;
  animation-delay: 900ms; }

.r2 {
  border-color: #26bdcf #26bdcf transparent transparent !important;
  left: 100%;
  top: -100%;
  animation: fold-up 1s forwards;
  animation-delay: 900ms;
  transform-origin: 0 0; }

.l3 {
  border-color: transparent transparent #26bdcf #26bdcf !important;
  left: -100%;
  top: -200%;
  animation: fold-diagonally-right 1s forwards;
  animation-delay: 1200ms; }

.r3 {
  border-color: transparent #26bdcf #26bdcf transparent !important;
  left: 100%;
  top: -200%;
  animation: fold-diagonally-left 1s forwards;
  animation-delay: 1200ms; }

.l4 {
  border-color: #26bdcf #26bdcf transparent transparent !important;
  left: -100%;
  animation: fold-up 1s forwards;
  transform-origin: 0 0;
  animation-delay: 1500ms;
  top: -200%; }

.r4 {
  border-color: #26bdcf transparent transparent #26bdcf !important;
  left: 100%;
  top: -200%;
  animation: fold-up 1s forwards;
  animation-delay: 1500ms;
  transform-origin: 0 0; }

.r5Shadow {
  border-width: 7.1428571429px 0px 0px 50px !important;
  border-color: #333 transparent transparent transparent !important;
  left: 100%;
  animation: blur-in 1s forwards;
  transform-origin: 0 0;
  animation-delay: 1800ms;
  top: -300%; }

.l5Shadow {
  border-width: 7.1428571429px 50px 50px 0px !important;
  border-color: #333 transparent transparent !important;
  left: -100%;
  top: -300%;
  animation: blur-in 1s forwards;
  animation-delay: 1800ms; }

.l5 {
  border-color: transparent #26bdcf #26bdcf transparent !important;
  left: -100%;
  top: -300%;
  animation: fold-diagonally-left 1s forwards;
  animation-delay: 1800ms; }

.r5 {
  border-color: transparent transparent #26bdcf #26bdcf !important;
  left: 100%;
  top: -300%;
  animation: fold-diagonally-right 1s forwards;
  animation-delay: 1800ms;
  transform-origin: 0 0; }

.l6 {
  border-color: #26bdcf transparent transparent #26bdcf !important;
  left: -100%;
  top: -300%;
  animation: fold-up 1s forwards;
  transform-origin: 0 0;
  animation-delay: 2100ms; }

.r6 {
  border-color: #26bdcf #26bdcf transparent transparent !important;
  left: 100%;
  top: -300%;
  animation: fold-up 1s forwards;
  animation-delay: 2100ms;
  transform-origin: 0 0; }

.ll {
  border-color: #26bdcf transparent transparent #26bdcf !important;
  left: -100%;
  animation: open-left 1s forwards;
  transform-origin: 0 0;
  animation-delay: 2400ms;
  top: -400%; }

.dot {
  border-width: 20.8333333333px !important;
  border-color: transparent #26bdcf #26bdcf transparent !important;
  left: 100%;
  animation: fold-diagonally-left 1s forwards;
  animation-delay: 2400ms;
  top: -400%; }

.l7 {
  border-color: transparent transparent #26bdcf #26bdcf !important;
  left: -100%;
  top: -400%;
  animation: fold-diagonally-right 1s forwards;
  animation-delay: 2400ms; }

.r7 {
  border-color: transparent #26bdcf #26bdcf transparent !important;
  left: 100%;
  top: -400%;
  animation: fold-diagonally-left 1s forwards;
  animation-delay: 2400ms; }

@keyframes open-right {
  to {
    transform: rotate3d(0, -1, 0, 180deg);
    opacity: 0.7; } }

@keyframes open-left {
  to {
    transform: rotate3d(0, -1, 0, 180deg);
    opacity: 0.6; } }

@keyframes fold-up {
  to {
    transform: rotate3d(1, 0, 0, 180deg);
    opacity: 0.8; } }

@keyframes fold-diagonally-left {
  to {
    transform: rotate3d(1, -1, 0, 180deg);
    opacity: 1; } }

@keyframes fold-diagonally-right {
  to {
    transform: rotate3d(1, 1, 0, 180deg);
    opacity: 0.9; } }

.t {
  position: relative;
  top: 64px;
  left: calc(50% - 150px);
  width: 30px; }
  .t > div {
    font-size: 35px;
    color: #26bdcf;
    font-weight: 900;
    width: 30px;
    opacity: 0; }

.t0 {
  animation: fade-in 1000ms forwards;
  animation-delay: 500ms; }

.t1 {
  animation: fade-in 1000ms forwards;
  animation-delay: 800ms; }

.t2 {
  animation: fade-in 1000ms forwards;
  animation-delay: 1100ms; }

.t3 {
  animation: fade-in 1000ms forwards;
  animation-delay: 1400ms; }

.t4 {
  animation: fade-in 1000ms forwards;
  animation-delay: 1700ms; }

.t5 {
  animation: fade-in 1000ms forwards;
  animation-delay: 2000ms; }

.t6 {
  animation: fade-in 1000ms forwards;
  animation-delay: 2300ms; }

@keyframes fade-in {
  to {
    opacity: 1;
    transform: rotate(-90deg) rotate3d(1, 0, 1, 360deg); } }

@keyframes blur-in {
  from {
    opacity: 0.5; }
  to {
    opacity: 0.7; } }

.l2:hover,
.l3:hover,
.t:hover {
  transition: all 1000ms;
  opacity: 0; }

.u div:nth-child(2):hover {
  transition: all 1000ms;
  transform: scale(0.5); }

.hidden {
  display: none; }

.blur-in {
  animation: blur-in 1s; }
