.aboutUsserviesList {
    list-style-image: url('../images/about_us_bullet.png');
}

.aboutUsserviesList li {
    line-height: 14px;
    margin: 5px;
    padding: 7px;
}

.aboutUs_platFormArch {
    background: url('../images/about_us_circle.png') center no-repeat;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 16px;
    display: table;
    padding: 15px;
    margin: 10px;
}

.aboutUs_platFormArch span {
    display: table-cell;
    vertical-align: middle;
    text-transform: capitalize;
}

.aboutus-section {
    margin: 30px 0;
    line-height: 25px;
    font-size: 14px;
    text-align: justify;
}

.aboutus-section:last-of-type {
    padding-bottom: 50px;
}

.video-placeholder {
    max-height: 300px;
    margin-top: 5px;
    background: gray;
}

.about-us-vision {
    max-height: 265px;
}

.about-us-offering-card {
    box-shadow: 0 0 3px 2px #efefef;
    padding: 15px 20px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 260px
}

.about-us-offering-card .card-title {
    color: #FF0092
}