polyline,
text:not(.toolCircle) {
    display: none;
}

#donut-chart {
    min-height: 400px;
}

.graph-unit-label {
    font-size: 0.88rem;
}

.graph-unit {
    height: 20px;
    width: 20px;
    margin: 5px 0;
    display: inline-block;
}

.graph-unit[data-color="red"] {
    background-color: red;
}

.graph-unit[data-color="black"] {
    background-color: black;
}

.graph-unit[data-color="green"] {
    background-color: green;
}

.graph-unit[data-color="pink"] {
    background-color: pink;
}

.graph-unit[data-color="brown"] {
    background-color: brown;
}