.dropdown-with-arrow button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  background-color: white;
  font-size: 0.92rem;
  color: #8b8b8b !important;
  box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.1);
}

.dropdown-with-arrow div {
  min-width: 150px;
}

.dropdown-with-arrow p {
  font-size: 0.92rem;
  color: #8b8b8b;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  border-left: 12px solid white;
}

.dropdown-with-arrow p:hover {
  color: white;
  background-color: #2290ff;
  border-left: 12px solid #2290ff;
}