@font-face {
    font-family: 'FF Mark Black';
    src: url("../fonts/MarkPro-Black.otf") format("opentype");
}

@font-face {
    font-family: 'FF Mark BlackItalic';
    src: url("../fonts/MarkPro-BlackItalic.otf") format("opentype");
}

@font-face {
    font-family: 'FF Mark Bold';
    src: url("../fonts/MarkPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'FF Mark BoldItalic';
    src: url("../fonts/MarkPro-BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: 'FF Mark Book';
    src: url("../fonts/MarkPro-Book.otf") format("opentype");
}

@font-face {
    font-family: 'FF Mark BookItalic';
    src: url("../fonts/MarkPro-BookItalic.otf") format("opentype");
}

@font-face {
    font-family: 'FF Mark ExtraLight';
    src: url("../fonts/MarkPro-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: 'FF Mark ExtraLightItalic';
    src: url("../fonts/MarkPro-ExtraLightItalic.otf") format("opentype");
}

* {
    font-family: 'FF Mark Book';
}

.font-bold {
    font-family: 'FF Mark Bold';
    src: url("../fonts/MarkPro-Bold.otf") format("opentype");
}

.font-xxs {
    font-size: 0.8rem !important;
}

.font-xs {
    font-size: 0.95rem !important;
}

.font-s {
    font-size: 1rem !important;
}

.font-m {
    font-size: 1.25rem !important;
}

.font-l {
    font-size: 1.5rem !important;
}

.font-xl {
    font-size: 1.88rem !important;
}

@media screen and (min-width: 992px) {
    html {
        font-size: 11px;
    }
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 13px;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 17px;
    }
}