.profile-photo {
    margin-bottom: 40px;
}

.profile-photo img {
    border-radius: 50%;
}

.tabs-buttons-hr {
    top: -23px;
    border-top: 2px solid rgba(0, 0, 0, .1);
}

.profile-feedback-table thead th {
    color: #8e8e8e;
    border: none;
    text-transform: capitalize;
    font-size: 1.05rem;
}

.profile-feedback-table tbody td {
    color: #302e45;
    font-size: 1.05rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fafafa;
}

.table-striped tbody tr:nth-of-type(odd):hover {
    background-color: rgba(0, 0, 0, .075)
}