.search-selected-category {
  font-size: 1.88rem;
  color: #7b7b7b;
  margin-bottom: 20px;
}

.search-selected-category b {
  color: #000;
}

.search-result-top-card {
  box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  padding: 20px;
  min-height: 100px;
  margin-bottom: 20px;
}

.search-result-top-card:hover {
  border: 10px;
  border-color: goldenrod;
}

.search-result-card {
  box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  padding: 34px 30px 24px 30px;
  min-height: 300px;
  margin-bottom: 20px;
}

.search-result-card:hover {
  background: linear-gradient(to right, #ff9e2a, #fe2f87);
  color: white !important;
}

.card-btn {
  background: linear-gradient(to right, #ff9e2a, #fe2f87);
  color: white !important;
  text-align: center;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 2px;
}

.search-result-card:hover .card-header,
.search-result-card:hover .card-title,
.search-result-card:hover .card-title-desc,
.search-result-card:hover .card-content-txt,
.search-result-card:hover .card-actions {
  color: white;
}

.search-result-card:hover .icn_category {
  background: url("../images/icn_placeholder_catagory_selected.png");
}

.card-title {
  font-size: 1.05rem;
  font-weight: 900;
  color: #302e45;
}

.card-title-desc {
  font-size: 0.95rem;
  color: #000;
}

.card-content-txt {
  font-size: 1rem;
  color: #7b7b7b;
}

.card-body {
  min-height: 40px;
  padding: 0;
}

.card-body--document {
  min-height: 40px;
  padding: 0;
  align-content: flex-end;
}

.card-body--document .breadcrumb {
  align-content: flex-end;
}

.card-body--document .icn_pdf {
  top: 0;
}

.card-body--document .document-title {
  line-height: 2;
  vertical-align: middle;
  color: #5c5c5c;
}

.card-actions {
  vertical-align: middle;
  margin-top: 20px;
  font: 12px;
  color: #797979;
}