.side-nav {
    background: #dddddd;
    bottom: 30px;
    top: 100px;
    clear: both;
    position: fixed;
    overflow-y: scroll;
    height: calc(100vh - 130px);
}

.side-nav-wrapper3 {
    padding: 2px 0;
    background: #dddddd;
}

.side-nav-wrapper2 {
    overflow-y: scroll;
    height: calc(100vh - 150px);
}

.side-nav-wrapper1 {
    overflow-y: scroll;
    height: calc(100vh - 150px);
    >>>>>>>Stashed changes
}

.side-nav>div.menu {
    height: 50px;
    font-size: 1.2rem;
    vertical-align: middle;
    background: #dddddd;
    border: 1px solid #ddd;
    position: relative;
}

.side-nav>div.menu>.menu-text,
.side-nav>div.menu>.btn.menu-text {
    height: 50px;
    font-size: 1.1rem;
    line-height: 50px;
    vertical-align: middle;
    padding: 0 1.55rem;
    color: #5c5c5c;
    font-family: 'FF Mark Bold';
    text-transform: capitalize;
}

.side-nav>div.menu:not(.active)>.menu-text,
.side-nav>div.menu:not(.active)>.btn.menu-text {
    background: #dddddd;
}

.side-nav>div.menu.active {
    height: 50px;
    font-size: 1.2rem;
    line-height: 50px;
    vertical-align: middle;
    background: white;
    border-left: 3px solid #2290ff;
}

.side-nav>div.menu.active .menu-text {
    color: #2290ff;
}

.side-nav>.section {
    margin-top: 30px;
}

.side-nav>.section>.title {
    color: #302e45;
    text-transform: capitalize;
    font-family: 'FF Mark Bold';
    margin-bottom: 30px;
    padding-left: 20px;
    font-size: 1.22rem;
}

.side-nav>.section>.section-menu {
    height: 60px;
    border-top: 1px solid white;
    padding: 12px 0;
}

.side-nav>.section>.section-menu:last-child {
    border-bottom: 1px solid white;
}

.side-nav .text {
    color: #302e45;
}

.side-nav .description {
    color: #bd6969;
}

.side-nav .menu-text+.dropdown-menu {
    position: absolute;
    top: 99% !important;
    left: 10px !important;
    transform: translate(0) !important;
    min-width: 200px;
    box-shadow: 0 0 1px 1px #afafaf
}

.side-nav .dropdown button,
.side-nav .dropdown button:hover {
    background: #dddddd;
    color: black;
    font-size: 0.92rem;
}

.side-nav .collapse li {
    margin: 0;
}

.side-nav .dropdown:hover .dropdown-menu {
    display: block;
}

.side-nav .filter-options {
    padding: 5px;
}

.side-nav .dropdown .icn_right_arrow,
.side-nav .dropdown .icn_down_arrow {
    transition: 300ms all;
}

.side-nav .dropdown:hover .icn_right_arrow {
    transform: rotate(0deg);
}

.btn.collapsed .icn_down_arrow {
    transform: rotate(0deg);
}

.btn .icn_down_arrow {
    transform: rotate(180deg);
}

.side-nav .dropdown-menu:after {
    content: "";
    position: absolute;
    top: -16px;
    left: 10px;
    border-width: 10px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-radius: 5px;
}

.side-nav .dropdown-menu:before {
    content: "";
    position: absolute;
    top: -17px;
    left: 12px;
    border-width: 8px;
    border-color: transparent transparent #afafaf transparent;
    border-style: solid;
    border-radius: 5px;
}

.side-nav .dropdown-menu-right:after,
.tooltip-like.dropdown-menu-right:after {
    content: "";
    position: absolute;
    top: -16px;
    right: 10px;
    border-width: 10px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-radius: 5px;
}

.side-nav .dropdown-menu-right:before,
.tooltip-like.dropdown-menu-right:before {
    content: "";
    position: absolute;
    top: -17px;
    right: 12px;
    border-width: 8px;
    border-color: transparent transparent #afafaf transparent;
    border-style: solid;
    border-radius: 5px;
}