.nudge {
  padding: 5px;
}

.nudge-double {
  padding: 10px;
}

.flush {
  padding: 0 !important;
}

.flush-list {
  list-style-type: none;
}

.push {
  margin: 5px;
}

.clear {
  margin: 0 !important;
}

.space-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nudge-left {
  padding-left: 5px;
}

.nudge--double-left {
  padding-left: 10px;
}

.flush-left {
  padding-left: 0 !important;
}

.push-left {
  margin-left: 5px;
}

.clear-left {
  margin-left: 0 !important;
}

.nudge-right {
  padding-right: 5px;
}

.flush-right {
  padding-right: 0 !important;
}

.push-right {
  margin-right: 5px;
}

.push-right-double {
  margin-right: 10px;
}

.clear-right {
  margin-right: 0 !important;
}

.nudge-top {
  padding-top: 5px;
}

.flush-top {
  padding-top: 0 !important;
}

.push-top {
  margin-top: 5px;
}

.push--double-top {
  margin-top: 10px;
}

.push--thrice-top {
  margin-top: 15px;
}

.clear-top {
  margin-top: 0 !important;
}

.nudge-bottom {
  padding-bottom: 5px;
}

.flush-bottom {
  padding-bottom: 0 !important;
}

.push-bottom {
  margin-bottom: 5px;
}

.clear-bottom {
  margin-bottom: 0 !important;
}