.tabs {
    margin-bottom: 30px;
}

.tabs .tab-menu,
.tabs a {
    font-size: 1.3rem;
    font-weight: bold;
    height: 50px;
    text-transform: capitalize;
    padding: 10px;
    margin: 0 10px;
    line-height: 50px;
    vertical-align: middle;
}

.tabs .tab-menu.active {
    border-bottom: 2px solid #5C5C5C;
}