/* stylelint-disable docusaurus/copyright-header */
@import url("dark.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33 175 144);
  --ifm-color-primary-darker: rgb(31 165 136);
  --ifm-color-primary-darkest: rgb(26 136 112);
  --ifm-color-primary-light: rgb(70 203 174);
  --ifm-color-primary-lighter: rgb(102 212 189);
  --ifm-color-primary-lightest: rgb(146 224 208);
  --ifm-code-font-size: 95%;
}

body,
html {
  scrollbar-width: 5px;
  scroll-padding-top: 88px !important;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hidden {
  display: none;
  visibility: hidden;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72 77 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.sub-navbar {
  position: sticky;
  top: 50px;
  z-index: 10;
  height: 70px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo {
  max-width: 6rem;
  opacity: 0.8;
}

.heroBanner {
  padding: 4rem 0.5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.button.button--secondary.button--outline:not(.button--active, :hover) {
  color: var(--ifm-color-gray-900);
}

@media screen and (width >= 1000px) {
  .heroBanner {
    padding: 4rem 0;
  }
}

.max-w-blog {
  max-width: 80ch !important;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: currentcolor;
  text-underline-position: under;
  text-decoration-style: dashed;
}

a:focus {
  border: 1px solid currentcolor;
  border-style: dotted;
}

.navbar__link--active {
  text-decoration: underline;
  text-decoration-color: currentcolor;
  text-underline-position: under;
}
